# Entornos virtuales
venv/
env/

# Archivos cacheados de Python
__pycache__/
*.pyc

# Base de datos local de SQLite (Opcional, pero recomendado)
db.sqlite3

# Archivos de PDFs generados temporalmente
*.pdf